/* Global */
:root {
  --yellow: #ffc017;
  --balck: #191919;
  --green: #1a8917;
}

a {
  text-decoration: none;
  color: var(--balck);
}

.all {
  font-family: "Roboto", sans-serif;
  margin: 0px auto;
  max-width: 1192px;
}

/* HEADER */
.header {
  background-color: var(--yellow);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 25px 0;
  border-bottom: 1px solid var(--balck);
  position: sticky;
  top: 0;
  z-index: 3;
}

.header:after {
  content: "";
  position: absolute;
  bottom: -1px;
  left: -200px;
  right: -200px;
  height: 1px;
  background-color: black;
}

.header__nav-item {
  display: inline-block;
  margin-inline: 15px;
}

.header__nav-item--button {
  color: #fff;
  background-color: var(--balck);
  padding-inline: 15px;
  padding-block: 10px;
  border-radius: 20px;
}

.white {
  background-color: #fff;
  transition: background-color 300ms linear;
}

/* HERO */

.hero {
  display: flex;
  flex-direction: column;
  height: 462px;
  width: 100%;
  margin-right: 585px;
  background-color: var(--yellow);
}

.hero__title {
  font-family: "Spectral", serif;
  font-size: 6.625rem;
  padding-top: 93px;
  margin-bottom: 35px;
}

.hero__subtitle {
  font-size: 1.5rem;
  line-height: 24px;
  max-width: 440px;
  margin-bottom: 50px;
}

.hero__button {
  color: #fff;
  background-color: var(--balck);
  padding-inline: 35px;
  padding-block: 10px;
  border-radius: 20px;
  font-size: 1.25rem;
  width: fit-content;
  min-width: max-content;
  flex: 0 0 auto;
}

.hero__m-letters {
  position: absolute;
  right: 0;
  background-color: transparent;
}

.hero::before {
  content: "";
  position: absolute;
  inset: 0;
  background: var(--yellow);
  z-index: -1;
  height: 537.8px;
}

/* TRENDING SECTION */

.section-trending {
  padding-top: 40px;
}

.section-trending__container {
  display: flex;
  flex-wrap: wrap;
  flex-basis: 33%;
  justify-content: center;
  gap: 4%;
  position: relative;
  border-bottom: 1px solid #e6e6e6;
  padding-bottom: 40px;
}

.section-trending__title {
  margin-bottom: 16px;
}

.section-trending__author,
.section-trending__title,
.section-trending__time {
  margin-left: 55px;
}

.section-trending__author h3 {
  display: inline-block;
}

.section-trending__author {
  display: flex;
  align-items: center;
  gap: 5px;
  margin-bottom: 8px;
  font-size: 0.8rem;
}

.section-trending__profile {
  border-radius: 10px;
  width: 20px;
}

.section-trending__title {
  font-weight: 700;
}

.section-trending__time {
  font-size: 0.8rem;
  color: #757575;
}

.section-trending__time span::before {
  content: "\02022";
  padding-inline: 5px;
}

.section-trending__article {
  width: 30%;
  margin-block: 20px;
}

.section-trending__number {
  position: absolute;
  color: #e6e6e6;
  font-size: 1.87rem;
  font-weight: bold;
}

/* SECTION ARTICLES */
.section-articles {
  padding-top: 56px;
  display: flex;
  gap: 45px;
  align-items: start;
  position: relative;
}

.section-articles__article {
  display: flex;
  justify-content: space-between;
  padding: 25px;
  margin-bottom: 48px;
}

.section_articles__author img {
  border-radius: 10px;
  width: 20px;
}

.section_articles__author {
  display: flex;
  align-items: center;
  font-size: 0.8rem;
  margin-bottom: 10px;
}

.section_articles__author h3 {
  margin-left: 8px;
}

.section-articles__p {
  font-size: 1rem;
  color: #757575;
  margin-block: 8px;
}

.section-articles__title {
  font-size: 1.37rem;
  font-weight: 700;
}

.section-articles__time {
  color: #757575;
}

.section-articles__img-container {
  width: 200px;
  height: 124px;
}

.section-articles__img-container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* ASIDE */
.taglist {
  position: sticky;
  top: 110px;
}

.taglist h2 {
  font-size: 1rem;
  margin-bottom: 16px;
}

.taglist__item {
  list-style-type: none;
  font-size: 0.87rem;
  color: #757575;
}

.taglist__container {
  font-size: 0.81rem;
  border-bottom: 1px solid #e6e6e6;
  padding-bottom: 25px;
}

.taglist__container span {
  border: 1px solid rgb(230, 230, 230);
  border-radius: 3px;
  padding: 6px 16px;
  margin-bottom: 8px;
  margin-right: 8px;
  display: inline-block;
}

.taglist__list {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
  margin-top: 25px;
  padding-inline: 20px;
}
